

*{
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: Ubuntu, sans-serif;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-family: 'Roboto Slab';
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
p {
  font-family: poppins;
}

li {
  list-style-type: none;
}

.header {
  top: 0;
  height: 150px;
  margin-top: 0;
  width: 100%;
  margin-bottom: 20px;
  border-top: 3px solid black;
  border-right: 2px solid black;
  border-bottom: 20px double black;
  border-left: 2px solid black;
  position:fixed;
  z-index: 9999;
  background-color: rgb(63, 127, 191);
}
.header h1 {
  text-align: center;
}

.header-list {
  color: white;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.header-list li {
  margin-right: 20px;
  font-style:italic;
  font-weight: 700;
  color: white;
  font-family: Ubuntu, sans-serif;
}

.content {
  padding-top: 170px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color:goldenrod;
}

h2 {
  text-align:center;
  font-size :30px;
}

.container {
  border: 2px solid black;
  padding: 10px;
  margin: 10px auto;  
}

.color-panel {
  display:inline-block;
  width: 32%;
  text-align: center;
  margin: 20px auto;
  min-height: 100px;
}

.slate-blue {
  background-color: rgba(63, 127, 191, 0.30);
}

.seafoam {
  background-color: rgba(85, 191, 63,0.34);
}

.dessert-sand {
  background-color: rgba(191, 140, 63,0.34);
}
.steel {
  background-color: rgba(77, 68, 55, 0.34);
}

/*.font-container {
  display: inline-block;
  width: 40%;
  border: 2px solid black;
  padding: 3%;
  margin: 20px 10px;
}*/

.font-panel {
  width: 40%;
  display: inline-block;
  border: 1px solid black;
  margin: 10px 10px;
  padding: 3%;
}

.font-label {
  text-decoration: underline;
}

.poppins {
  font-family: poppins;
}

.rajdhani {
  font-family:Rajdhani;
}

.urbanist {
  font-family: Urbanist;
}

.indieflower {
  font-family: "Indie Flower";
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.robotoslab {
  font-family: 'Roboto Slab', serif;
}

.Ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.regular {
  font-style: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.text-style-h2 {
  text-align:left;
}
